div.field {
  margin-top: 15px;
}

input[type=text],[type=password],[type=email] {
  width: 100%;
  line-height: 30px;
  border: 1px solid rgb(51, 56, 59);
  font-size: 18pt;
  padding: 10px;
}

input[type=submit] {
}
